pkgbase = python-annotated-types
	pkgdesc = Reusable constraint types to use with typing.Annotated
	pkgver = 0.6.0
	pkgrel = 3
	url = https://github.com/annotated-types/annotated-types
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-sugar
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	source = annotated-types-0.6.0.tar.gz::https://github.com/annotated-types/annotated-types/archive/refs/tags/v0.6.0.tar.gz
	sha512sums = c4125cdfdc6a16561ac885c97b4300ebe8fe36c0b3ebdf59429002734bf77afb88ffe6c7aa03fdb9a0e5c793c55d3cf825695f1a2d279abf6f366a945447959d
	b2sums = 33f6025651ab3fc1aa38534ff1f10038917997af2e760d45d86bdb9b6e32344feb6d0d91a13a24918039acf4524f01547ece6204f621b7fa6dd33978a139d7c1

pkgname = python-annotated-types
